* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 10px auto;
    padding: 8px;
    border: 2px solid #000;
    border-radius: 10px;
}

.container-imagem {
    text-align: center;
}

.imagem {
    height: auto;
    width: 98%;
}

.lista-receitas {
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

.lista-receitas a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.lista-ingredientes,
.lista-preparo {
    margin: 5px 25px;
}

.titulo,
.nome-receita {
    text-align: center;
}

.home {
    display: block;
    text-align: right;
    font-size: 18px;
    padding: 4px;
}

.texto {
    margin: 5px 2px;
}